bottom-height = 30px

set-bg-size(setting) {
  -webkit-background-size setting
  -moz-background-size setting
  -o-background-size setting
  background-size setting
}

span-background(path) {
  background url(path) no-repeat center center
  set-bg-size(contain)
}

.bg-image
  span-background('/images/teaser/char1-teaser.png')
  background-color #FFD128
  height 100%
  width 100%
  position fixed
  top 0
  left 0
  z-index 0

.bottom-right
  position absolute
  bottom 0px
  right 10px
  text-align right
  height bottom-height

.footnote
  font-style italic
  font-size 12px
